.nav {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.nav__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__left img {
    width: 90px;
}

.nav__left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav__left ul li {
    cursor: pointer;

}

.nav__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__right .icons {
    width: 20px;
    cursor: pointer;
}

.nav__right .profile {
    border-radius: 4px;
    width: 35px;
}

.nav__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.nav .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.profile {
    cursor: pointer;
}

.nav .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.nav__profile:hover .dropdown {
    display: block;
}

.nav__dark {
    background: #141414;
}

@media (max-width: 800px) {
    .nav {
        padding: 20px 4%;
    }

    .nav__left ul {
        display: none;
    }

    .nav img {
        height: 25px;
    }
}

@media (max-width: 500px) {
    .nav img {
        height: 20px;
    }

    .nav__right {
        gap: 10px;
    }
    
}

